<launch>

    <!-- Use simulation time if Gazebo -->
    <param name="use_sim_time" value="true"/>

    <!-- Object Detection Node -->
    <node name="find_object_3d"
          pkg="find_object_2d"
          type="find_object_2d"
          output="screen">

        <param name="gui"             value="true"/>
        <param name="subscribe_depth" value="true"/>
        <param name="objects_path"    value="$(find pick_place)/objects/DrillGun"/>
        <param name="settings_path"   value="$(find pick_place)/config/find_object.ini"/>

        <!-- Camera topics -->
        <remap from="rgb/image_rect_color"         to="/limo/color/image_raw"/>
        <remap from="depth_registered/image_raw"   to="/limo/depth/image_raw"/>
        <remap from="depth_registered/camera_info" to="/limo/color/camera_info"/>

        <param name="rgb/image_transport"              value="compressed"/>
        <param name="depth_registered/image_transport" value="raw"/>
    </node>
    
</launch>
