<launch>
  <arg name="use_rviz" default="true" />
  <!-- specify the planning pipeline -->
  <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt" />
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  <!-- Choose controller manager: simple, or ros_control -->
  <arg name="moveit_controller_manager" default="ros_control" />
  <!-- Set execution mode for fake execution controllers -->
  <arg name="fake_execution_type" default="interpolate" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find limo_cobot_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="moveit_controller_manager" value="ros_control"/>
    <arg name="fake_execution_type" value="$(arg fake_execution_type)"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="load_robot_description" value="false"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find limo_cobot_moveit)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find pick_place)/config/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>