<?xml version="1.0"?>
<launch>
    <node name="add_object_service" pkg="pick_place" type="add_object" output="screen">
        <remap from="/camera/depth/points" to="/limo/depth/points" />
        <remap from="/object_bounding_boxes" to="/detection/object" />
        <param name="bbox_scale_factor" value="0.9" />
        <param name="plane_distance_threshold" value="0.015" />
        <param name="cylinder_score_threshold" value="0.4" />
        <param name="plane_max_iterations" value="500" />
        <param name="plane_probability" value="0.95" />
        <param name="use_multiple_plane_removal" value="false" />
    </node>
</launch>