<?xml version="1.0"?>
<launch>
    <node name="pick_place_node" pkg="pick_place" type="pick_place" output="screen">
        <param name="rosconsole/logger_levels" value="moveit_ros_planning:=DEBUG,moveit_core:=DEBUG,moveit_ros_planning_interface:=DEBUG"/>

        <remap from="/camera/depth/points" to="/limo/depth/points" />
        <remap from="/object_bounding_boxes" to="/detection/object" />
        <remap from="/gripper_control_command" to="/gripper_controller/command" />

        <param name="object_name" value="detected_object" />
        <param name="table_name" value="detected_table" />
        <param name="zero_state_name" value="zero" />
        <param name="top_grip_state_name" value="top_grip" />
        <param name="front_grip_state_name" value="front_grip" />
        <param name="arm_group" value="arm" />
        <param name="gripper_group" value="gripper" />
        <param name="grasp_joint" value="grasping_frame_joint" />
        <param name="grasp_link" value="joint6_flange" />
        
        <param name="use_perception" type="bool" value="false" />
        <param name="bbox_scale_factor" value="0.9" />

        <!-- Defaults works well for these parameters -->
        <param name="plane_distance_threshold" value="0.015" />
        <param name="cylinder_score_threshold" value="0.4" />
        <param name="plane_max_iterations" value="500" />
        <param name="plane_probability" value="0.95" />
        <param name="use_multiple_plane_removal" value="false" />
    </node>
</launch>